body {
  margin: 0;
  padding:0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #fff;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 100;
  font-style: normal;
  src:
  local("Open Sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src:
  local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  font-style: normal;
  src:
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  src:
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.site-logo:hover,
.footer-logo:hover,
.academy-logo:hover {
  opacity: 0.6;
}

.site-logo:active,
.footer-logo:active,
.academy-logo:active {
  opacity: 0.3;
}

.yellow-button {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

button.yellow-button {
  background: none;
  border: 0;
  outline: none;
}

.yellow-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #f0c52e;
}

.yellow-button:active {
  color: rgba(0,0,0,0.3);
}

.page-title,
.company-info h2,
.main-slider h3,
.shop-services h3 {
  font-size: 47px;
  line-height: normal;
  color: #000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
}

/* Header */

.main-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 36px;
  color: #000;
  background-color: #f7e296;
}

.main-navigation a {
  color: #000;
}

.main-navigation ul {
  list-style: none;
}

.catalog-menu > li > a,
.about-menu {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.catalog-menu-sub {
}

.user-menu a:hover,
.catalog-menu a:hover,
.about-menu a:hover {
  opacity: 0.6;
}

.user-menu a:active,
.catalog-menu a:active,
.about-menu a:active,
.user-menu .logout-link {
  opacity: 0.3;
}

.header-site-search input {
  font: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

.header-site-search input::placeholder {
  color: #000;
  opacity: 0.3;
}

.header-site-search input:hover::placeholder {
  opacity: 0.6;
}

.header-site-search input:focus::placeholder {
  opacity: 1;
}

.header-site-search input:focus {
  border-bottom: 2px solid black;
}

.search-button {
  font: inherit;
  background-color: inherit;
  border: 2px solid black;
}

.search-button:hover {
  color: #fff;
  background-color: #000;
}

.search-button:active {
  color: rgba(255,255,255,0.3);
  background-color: #000;
}

/* SLider */

.slider-item .slide-num {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 172px;
  line-height: 172px;
}

.slider-item td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  font-size: 36px;
}

.slider-item th {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  text-align: left;
}

/* Visual Ctalog Nav */

.catalog-visual a {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 160px;
  margin-bottom: 10px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  color: #000;
  background-color: #fff;

}

.catalog-visual a::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #f7e296;
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog-visual a::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-visual a:hover::before {
  background-color: #f0c52e;
}

.catalog-visual a:active::after {
  opacity: 0.3;
}

.catalog-visual .popular-1::after {
  background-image: url("../img/popular-1.svg");
}

.catalog-visual .popular-2::after {
  background-image: url("../img/popular-2.svg");
  background-position: bottom center;
}

.catalog-visual .popular-3::after {
  background-image: url("../img/popular-3.svg");
}

.catalog-visual .popular-4::after {
  background-image: url("../img/popular-4.svg");
}

.catalog-visual .popular-5::after {
  background-image: url("../img/popular-5.svg");
}

.catalog-visual .popular-6::after {
  background-image: url("../img/popular-6.svg");
}

/* Services Slider */

.services-item {
  background-color: #e5e5e5;
}

.services-selector button:active {
  background-color: #000;
  color: #f7e184;
}

/* Brands */

.brands-list {
  list-style: none;
}

.brands-list img {
  opacity: 0.2;
  filter: grayscale(1);
}

.brands-list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* INFO */

.company-info ul {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 900;
  color: #000;
}

/* Footer */

.main-footer {
  background-color: #464646;
  color: #fff;
}

.main-footer a {
  color: #fff;
}

.user-footer-menu,
.about-footer-menu,
.footer-social {
  list-style: none;
}

.user-footer-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 36px;
  color: rgba(255,255,255,0.7);
}

.about-footer-menu a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(255,255,255,1);
}

.user-footer-menu a:hover {
  color: rgba(255,255,255,1);
}

.about-footer-menu a:hover {
  color: rgba(255,255,255,0.6);
}

.user-footer-menu a:active,
.about-footer-menu a:active {
  color: rgba(255,255,255,0.3);
}

/* Modal */

.modal-contact label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #000;
}

.modal-contact input,
.modal-contact textarea {
  font: inherit;
  color: #464646;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f2f2f2;
  border: 0;
  outline: none;
}

.modal-contact input::placeholder,
.modal-contact textarea::placeholder {
  opacity: 0.4;
}

.modal-contact input:hover,
.modal-contact textarea:hover {
  background-color: #eaeaea;
}

.modal-contact input:focus,
.modal-contact textarea:focus {
  background: none;
  border: 3px solid #f7e296;
}

.modal-contact input:invalid {
  background-color: #f6dada;
  border: 0;
}

.modal .modal-close {
  background: none;
  font-size: 0;
  border: none;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 36px;
  color: #000;
}

.breadcrumbs a,
.breadcrumbs .breadcrumbs-current {
  color: #000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.filters {
  background-color: #eee;
}

.filters h3,
.catalog h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.23em;
  color: #000;
  text-transform: uppercase;
}

.catalog-filter-header {
  background-color: #dcdcdc;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #000;
}

.filters ul {
  list-style: none;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
  color: #000;
}

.catalog-price label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
  color: rgba(0,0,0,0.2);
}

.catalog-price input {
  border: none;
}

.catalog-header {
  background-color: #ebebeb;
}

.catalog .catalog-sort {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
}

.catalog .catalog-sort-current {
  color: rgba(0,0,0,1);
}

.catalog .catalog-sort:hover {
  color: rgba(0,0,0,0.6);
}

.catalog .catalog-sort:active {
  color: rgba(0,0,0,1);
}

.catalog-list {
  list-style: none;
}

.catalog-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #000;
}

.catalog-list span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #464646;
}

.catalog-item-image {
  position: relative;
}

.catalog-item-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: #eee;
  opacity: 0;
}

.catalog-item-image:hover {
  cursor: pointer;
}

.catalog-item-image:hover::after {
  opacity: 0.7;
}

.catalog-item .compare-button {
  background: none;
  border: none;
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.catalog-item .compare-button:hover {
  opacity: 1;
}

.catalog-item .compare-button:active {
  opacity: 0.2;
}

/* Pagination */

.pagination-list {
  list-style: none;
  background-color: #ebebeb;
}

.pagination-item a{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 4px;
  color: #000;
  text-transform: uppercase;
}

.pagination-back a:hover,
.pagination-front a:hover {
  background-color: #d9d9d9;
}

.pagination-back a:active,
.pagination-front a:active {
  color: rgba(0,0,0,0.3);
}


.pagination-num a {
  color: rgba(0,0,0,0.3);
}

.pagination-num a:hover {
  color: rgba(0,0,0,0.6);
}

.pagination-num a:active {
  color: rgba(0,0,0,1);
}


/* Сетка */

body{
  min-width: 1200px;
  min-height: 2795px;

}

body {
  background-image: url("../device-index.jpg");
  background-repeat: no-repeat;
  background-size: 1440px auto;

}


body.inner-page {
  min-width: 1200px;
  min-height: 2015px;

}

body.inner-page {
  background-image: url("../device-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 1440px auto;

}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 1px solid blue;
}

.main-header {
  margin-top: 40px;
  padding: 35px 60px;
  outline: 1px solid violet;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  background: transparent;
  outline: 1px solid green;
  min-height: 116px;
}

.header-index-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  outline: 1px solid red;
}

.site-logo {
  position: absolute;
  top: 21px;
  width: 164px;
  height: 36px;
  outline: 1px solid red;
}

.header-site-search {
  width: 440px;
  height: 49px;
  outline: 1px solid green;
}

.catalog-menu,
.about-menu {
  padding: 0;
  margin: 0;
  height: 49px;
  outline: 1px solid pink;
}

.user-menu {
  padding: 0;
  margin: 0;
  width: 500px;
  height: 49px;

  outline: 1px solid orange;
}
.catalog-menu {
  width: 260px;
}
.about-menu {
    width: 500px;
}

.main-slider {
  min-height: 500px;
  margin-bottom: 95px;
  outline: 1px solid black;
}

.catalog-visual {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 95px;
  opacity: 0.1;
  outline: 1px solid cyan;
}

.shop-services {
  min-height: 288px;
  margin-top: 174px;
  margin-bottom: 95px;
  outline: 1px solid grey;
}

.brands {
  min-height: 100px;
  margin-bottom: 92px;
  outline: 1px solid gold;
}

.brands-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands-list li {
  width: 260px;
  height: 100px;
}

.brands-list li img {
  display: block;
}

.company-info-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.company-info {
  width: 560px;
  min-height: 580px;
  outline: 1px solid red;
}

.main-footer {
  padding: 64px 0;
  outline: 1px solid orange;
  background: transparent;
}

.main-footer  .container {
  display: flex;
  flex-direction: column;
  outline: 1px solid yellow;
}

.footer-user {
  display: flex;
  justify-content: space-between;
  min-height: 36px;
  margin-bottom: 30px;
  outline: 1px solid green;
}

.footer-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
  outline: 1px solid green;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  width: 100%;
  margin-bottom: 0;
  outline: 1px solid green;
}

.footer-links::before {
  content: "";
  width: 80px;
  height: 7px;
  margin-right: auto;
  background-color: #ffc600;
}

.footer-logo {
}

.user-footer-menu {
  padding: 0;
  margin: 0;
  min-height: 36px;
  width: 360px;
  outline: 1px solid pink;
}

.footer-address {
  padding: 0;
  margin: 0;
  width: 260px;
  outline: 1px solid lightgreen;
}

.about-footer-menu {
  padding: 0;
  margin: 0 auto;
  width: 440px;
  outline: 1px solid lightgreen;
}

.footer-phone {
  margin-left: auto;
  outline: 1px solid lightgreen;
}

.footer-social {
  padding: 0;
  margin: 0 auto;
  min-height: 34px;
  width: 240px;
  outline: 1px solid lightgreen;
}

.academy-logo {
  width: 80px;
  height: 34px;
  text-align: right;
  margin-left: auto;
  outline: 1px solid lightgreen;
}

.container-inner-page {
  width: 1100px;
  padding: 0 20px 0 80px;
  margin: 0 auto;
}

.page-title {
  margin-top: 35px;
  margin-bottom: 17px;
  letter-spacing: 0.01em;
  line-height: 52px;
}

.breadcrumbs {
  min-height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  outline: 1px solid lightgreen;
}

.index-wrapper {
  width: 100%;
  min-height: 1283px;
  background-image:
  linear-gradient(to bottom, rgba(0,0,0,0.08) 70px, transparent 70px),
  linear-gradient(to right, #eeeeee 50%, #fff 50%);
  opacity: 0.5;
}

 .index-wrapper .container-inner-page {
   display: flex;
 }

.filters {
  background: transparent;
  width: 200px;
  padding-right: 68px;
  outline: 1px solid red;
}

.catalog-filter-header,
.catalog-header h3 {
  height: 70px;
  line-height: 70px;
  padding: 0;
  margin: 0;
}

.catalog-filter-header {
  margin-bottom: 69px;
}

.catalog-filter {
  outline: 1px solid yellow;
}

.catalog-filter fieldset {
  padding: 0;
  margin: 0;
  border-top: 2px solid black;
  margin-bottom: 25px;
}

.catalog-price {
  min-height: 113px;
}

.catalog-color {
  min-height: 258px;
}

.catalog-bluetooth {
  min-height: 143px;
  outline: 1px solid cyan;
}

.catalog-filter .yellow-button {
  width: 100%;
}

.catalog {
  width: 832px;
  min-height: 1283px;
  background-color: #fff;
  outline: 1px solid yellow;
}

.catalog-header {
  height: 70px;
  padding-left: 72px;
}

.catalog-header h3 {
  display: inline-block;
  width: 200px;
  outline: 1px solid lightgreen;
}

.catalog-header a.catalog-sort {
  display: inline-block;
  margin-left: -2px;
  margin-right: 28px;
  color: red;
  outline: 1px solid orange;
}

.catalog-sort-arrows {
  display: inline-block;
}

.catalog-list {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-left: 72px;
  padding-top: 54px;
  outline: 1px solid orange;
}

.catalog-item {
  width: 360px;
  min-height: 460px;
  margin-top: 15px;
  margin-bottom: 33px;
  outline: 1px solid green;
}

.pagination-list {
  padding: 0;
  margin: 0;
  margin-left: 72px;
  min-height: 70px;
  outline: 1px solid red;
}
